.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes pulse {
  0% {
    color: lighten($color-primary, 10%);
  }
  30% {
    color: lighten($color-primary, 30%);
  }
  70% {
    color: lighten($color-primary, 70%);
  }
  100% {
    font-weight: bold;
  }
}
