body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0 15px;
  padding: 0;
  @include text-base()
}

.App {
  margin: auto;
  padding-top: -200px;
  max-width: 960px;
  min-height: 200px;
}

.App-header {
  padding: 1em 0 6em;
  text-align: center;
  color: white;

  h1 {
    padding: 5px;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h1, h2, h4 {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 0;
}

main {
  background-color: $color-background;
  border-radius: 2px;
  margin-bottom: 5em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.Game-view,
.Rankings-view {
  @include flex(column, wrap, space-around, center);
  width: 100%;
}

.App-intro {
  font-size: large;
}

.App-countdown-timer {
  width: 2em;
  height: 2em;
  color: white;
}

.fa.fa-flag-o {
  font-size: 40px;
}

.messages,
.options {
  padding-top: 2em;
  display: flex;
}

.message {
  padding-bottom: 2em;
}

.controls {
  padding-bottom: 1.5em;
}

.messages-text {
  font-size: 1.5em;
  font-weight: 700;
  padding: 15px;
}

.options {
  width: 100%;
  @include flex(row, wrap, center, stretch)
}

.flag {
  min-height: 50%;
  padding-top: 1em;
  padding-bottom: 2em;

  > .fa.fa-flag-o {
    padding-top: 50px;
    font-size: 50px;
  }
}

.image-error {
  font-size: 20px;
}

footer {
  @include flex(row, wrap, center, top);
  color: white;
  font-size: small;
  a {
    margin-bottom: 30px;
    color: white;
  }
}

.main-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .main-top {
    flex-direction: column;
    align-items: center;
  }
}

.left-top-row,
.right-top-row {
  min-width: 160px;
}

.fa.fa-spinner {
  color: $color-primary;
}
