.levels {
  @include flex(row, wrap, center, space-between);
  padding: 2em 0 2em;
  width: 30%;
}

.dot-label:nth-child(1) {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  padding-left: 5px;
}

.level-dots {
  align-items: center;
  display: flex;
  flex: 1 0;
  justify-content: space-between;
  max-width: 280px;

  .dot-0:after {
    margin-left: -10px;
    content: 'hard'
  }

  .dot-1:after {
    margin-left: -18px;
    content: 'medium'
  }

  .dot-2:after {
    margin-left: -6px;
    content: 'easy'
  }

  .dot {
    background-color: lighten($color-primary, 50%);
    border-radius: 50%;
    border: 2px solid $color-primary;
    height: 16px;
    width: 16px;
    cursor: pointer;

    &:after {
      display: inline-block;
      position: relative;
      line-height: 5;
    }

    &:hover {
      background-color: $color-primary;
    }

    &.active {
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
}
