.Nav {
  background-color: $color-primary-transparent;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  @include flex(row, wrap, flex-start, center);
  padding: 15px;
  min-height: 50px;
}

.Nav-item {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-self: center;
  justify-content: space-around;
  padding: 0 40px 0 10px;
  &:last-of-type {
    padding: 0 10px 0 10px;
  }
}

.user-info__detail {
  flex: 1;
  align-self: center;
}

.user-info__detail-number {
  padding-left: .7em;
}

.login {
  @include flex(row, wrap, center, center);

  &__input {
    flex: 1 0 150px;
    position: relative;
    padding: 0.6em;
    border-radius: 3px;
    margin-right: 7px;
    outline: none;
    border: 1px solid #ddd;
    font-size: inherit;
    background: $color-background;

    &::placeholder {
      opacity: 0.7;
    }
  }
}

