$color-primary: rgba(66, 33, 102, 1);
$color-primary-transparent: rgba(66, 33, 102, 0.8);
$color-secondary: rgba(130, 124, 40, 1);
$color-background: rgba(229, 229, 229, 0.9);

$color-nav-btn: rgba(170, 136, 153, 1);
$color-choice: rgba(106, 80, 134, 1);
$color-text: #333;
$color-gray: grey;
$color-success: #64ce83;
$color-info: #3ea2ff;
$color-warning: #ff7f48;
$color-error: #e74c3c;
